/* Container global de la sidebar */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 57px;
    height: 100vh;
    z-index: 1000;
}

/* Sidebar */
.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #0e0f49;
    color: white;
    padding: 20px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;

}


/* Sidebar réduite */
.sidebar.collapsed {
    width: 50px;
    padding: 10px;
    transition: width 0.3s ease-in-out;

}

/* Header de la sidebar */
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s ease-in-out;

    border-bottom: 1px solid rgba(255, 255, 255, 0.378);

}
.sidebar.collapsed .sidebar-header{
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);


}

/* Icône du menu burger */
#fa-bars {
    margin-left: 160px;
    margin-top: -20px;
    font-size: 24px;
    position: fixed;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#fa-bars:hover {
    transform: scale(1.1);
}

/* Masquer le texte quand la sidebar est réduite */
.sidebar.collapsed #sidebar-title {
    display: none;
}

.floating-action-btn {
    background: linear-gradient(to right, #0e0f49 0%, #3a4b8a 50%, #74C0FC 100%);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px ;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    animation: pulse 1.5s infinite;
    font-weight: 400px;
  
    span{
    color: rgb(255, 255, 255);
    }
    
  }
  .floating-action-btn  {
    background: linear-gradient(to left, #0e0f49, #74C0FC);
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
  }
  
  @keyframes gradientMove {
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
    0% { background-position: 0% 50%; }

  }
  
  .floating-action-btn:hover {
    background:linear-gradient(to right, #0e0f49, #74C0FC);
  
    transform: translateY(-2px);
  }

/* Liste des éléments */
.components {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.components li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 17px;
    margin: 3px ;
    transition: background 0.3s ease-in-out;
}

/* Icônes */
.components i {
    font-size: 15px;
    width: 30px;
}

/* Liens */
.components a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}

/* Masquer les liens quand la sidebar est réduite */
.sidebar.collapsed a {
    opacity: 0;
    pointer-events: all;
}
.sidebar.collapsed #fa-bars {
    margin-left: 15px;
    padding-top: 60px;
    padding-bottom: 10px;
}
.sidebar.collapsed ul {
margin-top: 20px;
}






.components li {
    position: relative;
    overflow: hidden;
}

.components li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: white;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
}

.components li:hover::before {
    transform: scaleY(1);
}

.components li:hover {
    background-color: #2f7fbd2e;
    transform: translateX(5px);
    transition: transform 0.2s ease-in-out, 
}
 li.active {
    background-color: #3498dba0; /* Couleur lorsqu'un élément est actif */
    transform: scaleY(1);

  
  }

