<header>
<nav class="topnav">
  <i class="fa-solid fa-bars"></i>
  <div class="topnav-logo">
    <div class="logo"></div>
     <p>PLANNING</p> 
  </div>
  <div class="nav__search">
    <input 
      type="text" 
      placeholder="Rechercher..." 
    />
    <i class="fas fa-search"></i>
  </div>
  <i class="fa-solid fa-bell"></i>
</nav>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="facesnaps" routerLinkActive="active">FaceSnaps</a>
  </nav>
</header>
