header {
  background-color: #e4e3e3;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.fa-bars{
  padding-left: 20px;
}
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}
.topnav{
  display: flex;
  align-items: center;

  .nav-search{
    display: inline-block;
    background-color: #fcfcfc;
    padding: 5px;
    margin-left: 300px;
    width: 300px;
    border-radius: 15px;
    border: solid 1px #000000;
  
    .top-input {
     width: 50%;
      box-shadow: none;
      border: none;
      outline: none;
      border-radius: 8px;
      padding: 3px;
      color: rgb(0, 0, 0);
    }
    .top-input:focus{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  #iconrechecher{
background-color: #00025b;
  }

} 
.topnav-logo{
  display: flex;
  align-items: center;
margin-left: 85px;  

.planning{
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}


}

.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-image: url(https://mail.kms-entreprises.com/assets/img/branding/KMS%20logo.jpg);
}
