<header>
<nav class="topnav">
  <i id="fa-bars" class="fa-solid fa-bars fa-2x"></i>
  <section class="topnav-logo">
    <div class="logo"></div>
     <p class="planning">PLANNING</p> 
  </section>
  <div class="nav-search">
    <input class="top-input" type="text" placeholder="Rechercher..." />
    <i id="iconrechercher" class="fas fa-search " style="margin-left:110px; "></i>
  </div>
  <i class="fa-solid fa-bell fa-2x" style="margin-left: 550px;"></i>
</nav>
</header>
<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="facesnaps" routerLinkActive="active">FaceSnaps</a>
</nav>
