<footer class="footer">
    <div class="footer-container">
      
      <!-- À PROPOS -->
      <div class="footer-section">
        <h3>À Propos de KMS Planning</h3>
        <p>
            KMS Planning est une plateforme de réservation en ligne qui simplifie la mise en relation entre experts et clients. Monétisez vos compétences grâce à des formations interactives avec génération automatique de liens de réunion.
        </p>
      </div>
  
      <!-- Séparateur vertical -->
      <div class="separator"></div>
  
      <!-- LIENS UTILES -->
      <div class="footer-section">
        <h3 class="lien-util">Liens Utiles</h3>
        <ul>
          <li><i class="fas fa-home"></i> <a href="#">Accueil</a></li>
          <li><i class="fas fa-concierge-bell"></i> <a href="#">Services</a></li>
          <li><i class="fas fa-money-bill-wave"></i> <a href="#">Tarifs</a></li>
          <li><i class="fas fa-envelope"></i> <a href="#">Contact</a></li>
        </ul>
      </div>
  
      <!-- Séparateur vertical -->
      <div class="separator"></div>
  
      <!-- CONTACT -->
      <div class="footer-section">
        <h3>Contactez-nous</h3>
        <p><i class="fas fa-map-marker-alt"></i> Douala, Cameroun</p>
        <p><i class="fas fa-envelope"></i> support&#64;kmsplanning.com</p>
        
        <p><i class="fas fa-phone"></i> +237 6XX XXX XXX</p>
        
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
  
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 KMS Planning | Tous droits réservés</p>
    </div>
</footer>
  