<body>
  <app-navlanding></app-navlanding>
  <app-hero-section ></app-hero-section>

  <div class="landing-container2">
    <div class="service-title">Pourquoi choisir <span> Meet Expert</span> ?</div>
    <p class="description">Notre plateforme vous offre une expérience unique et personnalisée pour répondre à vos besoins d'apprentissage et de formation. Découvrez comment nous pouvons vous aider à atteindre vos objectifs !</p><br>
  </div>

<div appAppearOnScroll class="features-container">
  <div class="feature-card">
      <i class="fas fa-calendar-alt feature-icon"></i>
      <h3>Réservation</h3>
      <p>Prise de rendez-vous en ligne.</p>
  </div>
  <div class="feature-card">
      <i class="fas fa-video feature-icon"></i>
      <h3>Appels vidéo</h3>
      <p>Via Zoom ou Google Meet.</p>
  </div>
  <div class="feature-card">
      <i class="fas fa-credit-card feature-icon"></i>
      <h3>Paiement sécurisé</h3>
      <p>Via Flutterwave.</p>
  </div>
  <div class="feature-card">
      <i class="fas fa-chart-bar feature-icon"></i>
      <h3>Statistiques</h3>
      <p>Analyse de votre activité.</p>
  </div>
  <div class="feature-card">
      <i class="fas fa-bell feature-icon"></i>
      <h3>Notifications</h3>
      <p>Rappels automatiques.</p>
  </div>
  <div class="feature-card">
      <i class="fas fa-shield-alt feature-icon"></i>
      <h3>Sécurité</h3>
      <p>Données protégées.</p>
  </div>
  <div class="feature-card">
      <i class="fas fa-sync-alt feature-icon"></i>
      <h3>Synchronisation</h3>
      <p>Avec votre agenda.</p>
  </div>
</div>

<app-popular-services></app-popular-services>

  <div appAppearOnScroll class="publicity-container">
    <div class="publicity-text">
      <h1>Des experts compétants dans tous les domaines à porté de clic </h1>
      <img class="publicity-img" src="assets\images\user2.jpg" alt="">
      <div class="publicity">
        <h3><i class="fa-regular fa-circle-check"></i>Des experts qualifiés - efficaces et fiables</h3>
        <p>Trouvez satisfaction à travers des services de qualité qui répondent directement à vos besoins</p>
      </div>
      <div class="publicity">
        <h3><i class="fa-regular fa-circle-check"></i>Des services variés adaptés à vos besoins</h3>
        <p>Accédez à une large gamme de services allant de la formation à la consultation, en passant par le coaching et le développement personnel.</p>
      </div>
      <div class="publicity">
        <h3><i class="fa-regular fa-circle-check"></i>Des outils de gestion pour une expérience fluide</h3>
        <p>Profitez d'une plateforme optimisée pour gérer vos réservations, paiements et communications en toute simplicité.</p>
      </div>
      <div class="publicity">
        <h3><i class="fa-regular fa-circle-check"></i>Une plateforme sécurisée et fiable</h3>
        <p>Nous garantissons la sécurité de vos données et la confidentialité de vos informations personnelles.</p>
      </div>
    </div>
    <img class="publicity-image" src="assets\images\user2.jpg" alt="">
  </div>

  <div appAppearOnScroll class="how-it-works">
    <div class="service-title"> Comment ça marche ?</div>
    <p class="description">Découvrez comment notre plateforme fonctionne et comment elle peut vous aider à atteindre vos objectifs d'apprentissage ou de formation. Suivez ces étapes simples pour commencer dès aujourd'hui !</p><br>

    <div class="steps">
        <div class="step">
          <i class="fas fa-user-plus step-icon"></i>
          <h3>Créer un compte</h3>
          <p>Inscrivez-vous en quelques clics en tant qu'expert si vous souhaitez offrir vos service ou en tant qu'utilisateur si vous avez besoin de booster vos compétances ou la productivité de votre entreprise.</p>
        </div>
        <div class="step">
            <i class="fas fa-search step-icon"></i>
            <h3>Rechercher un service</h3>
            <p>Trouver un service en consultant directement la liste des services ou en faisant une recherche par cathégorie "Ex : finances" </p>
        </div>
        <div class="step">
            <i class="fas fa-calendar-check step-icon"></i>
            <h3>Réserver un rendez-vous</h3>
            <p>Clicquez le bouton "reserver" pour souscrire au service qui repond au mieux à vos besoins actuels .</p>
        </div>
        <div class="step">
            <i class="fas fa-credit-card step-icon"></i>
            <h3>Payment simple</h3>
            <p>Effectuez un paiement sécurisé en choisissant l'une des multiples méthodes de payments disponibles sur notre plateforme. Et obtenez le lien du rendez-vous</p>
        </div>
    </div>
    <p>Vous avez des questions ? rendez-vous <a href="">ICI</a> pour en savoir plus</p>
  </div>
    

  <app-stats-section></app-stats-section>
    <div class="landing-container3">
      <app-avis-carousel></app-avis-carousel>
      
      
      <div id="landing-container4">
        <span>Prêt à révolutionner votre façon d'apprendre ou d'enseigner ? Rejoignez-nous dès maintenant !</span>
        <button class="btn-last-inscription" (click)="OnInscription()">S'inscrire</button>
      </div>

    </div>

    <app-faq></app-faq>


<app-footer></app-footer>
</body>

