* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #f7f7f7;
}
/* Animation d'apparition générale */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.canvas{
  display: flex;
}

.canvas button{
  border-radius: 15px;
  background: #fc0505;
  color: white;
}

/* Appliquer l'animation à l'ensemble du header */
header {
  animation: fadeIn 1s ease-out;
}

/* Animation pour le conteneur principal du header */
.aim-container {
  animation: fadeIn 1.5s ease-out;
}

/* Animation sur les éléments de texte et bouton à l'intérieur de l'aim-container */
.aim-container h1,
.aim-container h3,
.landing-content button {
  animation: fadeIn 5s ease-out;
}




@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

button {
  font-size: 20px;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}



/* Style du bouton */
.btn-voir-plus {
  padding: 12px ;
  color: white;
  font-weight: bold;
  background: #74C0FC;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
  margin-left: 75%;
}

/* Effet de hover */
.btn-voir-plus:hover {
  background: #2e87ed;
  box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
  transform: translateY(-3px);
}


/* Effet de clic avec onde */
.btn-voir-plus:active {
  transform: scale(0.95);
}

.nav-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #0000007b;
}

/* Style général de la navbar */
.navbar {
  margin-left:55%;
  display: flex;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px ;
  transition: 0.3s ease;
  border-radius: 13px;
  cursor: pointer;
}

/* Effet au survol */
.navbar a:hover {
  background:#d527273c;
  font-style: italic;
}

/* Effet au clic (élément actif) */
.navbar a.active {
  background: #d52727;
  font-weight: bold;
  transform: scale(1.1);
}



header {
  background-image: url(https://media.istockphoto.com/id/628506984/fr/photo/travailler-intelligemment-travailler-dur.jpg?s=1024x1024&w=is&k=20&c=Lech64nBZbdvEVq-Qci0Res7mYXFDRDdFR7WDhaTSxs=);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height:5%;
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

}
header > * {
  position: relative;
  z-index: 2;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.508); /* Calque noir à 50% d'opacité */
}

.aim-container h1 span {
  color:#74C0FC;
  font-size: 60px; 
  z-index: 1222;

}
.aim-container h1 {
  text-align: center;

}
.aim-container h3 {
  color : #ffffff;
  font-size: 40px;
  width: 80%;
  font-family: helvetica;
  margin-top: -10px;

}
.aim-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-size: 30px;
  font-family: helvetica;
  width: 50%;
  margin-top: 50px;

 
}

.topnav-logo{
  display: flex;
  align-items: center;
  margin-left: 65px;  

.planning{
  font-size: 25px;
  font-weight: bold;
  color:#ffffff;
  padding-left: 10px;
}
}
.logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-image: url(https://mail.kms-entreprises.com/assets/img/branding/KMS%20logo.jpg);
}
.btn-connexion{
  margin-left: 800px;
  background-color: #d52727;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px;
  font-size: 17px;
  width: 150px;
}
.btn-connexion:hover{
  background-color: #ff0000;
  font-size: large;
}
.btn-inscription{
  margin-left: 10px;
  background-color: #74C0FC;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 17px;
  width:90px ;
  height: 40px;
}
.btn-last-inscription{
  background-color: #74C0FC;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 17px;
  width:90px ;
  height: 40px;
  margin-top: 15px;
}
.btn-login{
  margin-left: 10px;
  background-color: #74C0FC;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 17px;
  width:75px ;
  height: 40px;
}
.btn-login:hover{
  background-color: #2e87ed;
}
.btn-inscription:hover{
  background-color: #2e87ed;

}
.btn-commencer{
  background-color: #d52727;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  padding: 8px;
  font-size: 20px;
  width: 200px;
}
.btn-commencer:hover{
  background-color: #ff0000;
  font-size: large;
}

h3{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.container{
  display: block;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
}
#class{
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}
.img1{
  height: 150px;
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-image: url(https://simplybook.me/build/images/icons/features/icon_bookings.6e5806e6.gif);
}
.img2{
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-image: url(https://simplybook.me/build/images/icons/features/icon_sms.fe026585.gif);
}
.img3{
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-image: url(https://simplybook.me/build/images/icons/features/icon_two-apps.b28140c4.gif);
}
.img4{
  height: 150px;
  width: 100%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(https://simplybook.me/build/images/icons/features/static/icon_google-calendar-sync.166ade60.svg);
}


.landing-box{
  border-radius: 10px;
  width: 20vh;
  height: auto;
  font-weight: bold;
  text-align:center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),  
              0 6px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out,
}

/* Effet au survol */
.landing-box:hover {
  transform: translateY(-5px); /* Léger effet de levitation */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2),  
              0 10px 10px rgba(0, 0, 0, 0.15);
}
.landing-container2 .landing-box p{
  font-size: 18px;
  font-weight: bold;
}
.landing-container3{
  width: 100%;
  padding-bottom: 50px;
}
.landing-container3 #class .landing-box{
  width: 75vh;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing-container3 #class .landing-box .img3{
  background-image: url(https://i.pinimg.com/736x/96/66/54/966654a89b772408cf4000f3f4ca7eab.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
}
.landing-container3 #class .landing-box .img4{
  background-image: url(  https://i.pinimg.com/474x/9e/d3/ea/9ed3eaea3214a8d50c60aeef00c22c62.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
}
.landing-container3 #class .landing-box P{
  font-weight: normal;
  width: 50%;
  text-align: justify;
}
.landing-container3 #class .landing-box P{
  font-weight: normal;
  width: 50%;
  text-align: justify;
}
.avis-client{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 40%;}

#landing-container4{
  align-items: center;
  display: flex;
  justify-self: center;
  flex-direction: column;
  padding: 20px;
  color: black;
}
#landing-container4 span{
  color: rgb(0, 0, 0);
}

.services-container-side{
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.service-title{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.description{
  text-align: justify;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}

.services-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width:  auto;
  align-items: center;
  padding: 15px;

}

.service-card:hover {
  transform: translateY(-5px);

}

/* Carte d'un service */
.service-card {
  overflow: hidden;
  align-items: center;
  background: white;
  width: 200px;
  padding-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.service-card:nth-child(1) { animation-delay: 0.2s; }
.service-card:nth-child(2) { animation-delay: 0.4s; }
.service-card:nth-child(3) { animation-delay: 0.6s; }

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-image {
  width: 100%;
  height: 120px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  object-fit: cover;
}
.services-grid .service-card h3,
.services-grid .service-card p,
.services-grid .service-card .rating,
.services-grid .service-card button {
  margin-bottom: -2px; /* Réduit l'espacement vertical */
  line-height: 1.2;   /* Ajuste la hauteur de ligne pour un texte plus serré */
}

.services-grid .service-card h3{
padding: 5px;
font-size: 18px;
margin-top: -3px;

}
.services-grid .service-card p{
  font-size: 15px;
  color: #555;
  margin-top: -5px;
  padding: 5px;
 
}



.price {
  font-size: 18px;
  font-weight: bold;
  color: #0e0f49;
}

.rating {
  color: #ffcc00;
  padding-bottom: 10px;
}

/* Bouton de réservation */
.btn-book {
  background-color: #0e0f49;
  color: white;
  padding: 8px ;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 15px;
  transition: background 0.3s ease-in-out;
}

.btn-book:hover {
  background-color:#2e87ed;
  transform: scale(2px);
}
.toggle-menu{
  display: none;

}

.avis-container{
  display: flex;
  gap: 20px;
  padding: 15px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

}
.avis-utilisateur{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),  
  0 6px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out;
  padding:15px;
  border-radius: 15px;
  width: 45%;
}
.avis-utilisateur:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2),  
  0 10px 10px rgba(0, 0, 0, 0.15);

}
.avis-utilisateur .avis-client img{
  height: 100px;
  width: 100px;
  border-radius: 2000px;
}
.avis-utilisateur .avis-client .nom{
  margin-left: 5%;

}

.avis-utilisateur .avis-client .p1{
  font-weight: bold;
}
.avis-utilisateur .avis-client strong{
  color: #ffcc00;

}
.avis-client{
  display: flex;
  flex-direction: row;
  width: 100%;
}


/* Animation du menu mobile */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.mobile-menu{
  display: none;
}

/* Animation pour ouvrir le menu */
.mobile-menu.open {
  animation: slideIn 0.3s forwards;
}


/* Animation pour fermer le menu */
.mobile-menu.closed {
  animation: slideOut 0.3s forwards;
}

.features-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  font-size: 30px;
  color: #0a1f44;
  margin-bottom: 10px;
}

.feature-card h3 {
  font-size: 14px;
  margin: 5px 0;
}

.feature-card p { 
  font-size: 12px;
  color: #666;
}


.how-it-works {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

.steps {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;

}

.step {
  padding: 15px;
  width: 300px;
  text-align: center;
}



.step-icon {
  font-size: 40px;
  color: #74C0FC;
  margin-bottom: 10px;
}

.step h3 {
  font-size: 16px;
  margin: 5px 0;
}

.step p {
  font-size: 14px;
  color: #666;
}


.categories-section {
  margin: auto;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.category-container{
  display: flex;
  flex-direction: row;
  height: auto;
}



.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;

}
.categories-left{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.catégory-right{
 
background: #000;
}
.category-image{
  height: 50%;
  width: 50%;
}
.categories-left .title{
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
}

.category {
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.421);
  height: 40px;
  font-size: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.category:hover {
  background: #2e87ed;
  transform: translateY(-3px);
  font-weight: bold;
  color: white;

}

.category i {
  font-size: 18px;
}
video {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}


@media screen and (min-width:300px ) and (max-width: 450px){

  // POUR LES CATEGORIES POPULAIRES 
  
  .category-container{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;

  }
  .categories-list {
    width: 100%;
  }
  .categories-left{
    width: 100%;
    box-sizing: border-box;
  }
  .categories-left .title{
    font-size: 15px;
  }


  .category-image{
    display: none;
  }
  .categories-section .service-title{
    margin-top: -35px;
    margin-bottom: -20px;
  }
  video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
 
  //CSS pour les cartes de présentation des fonctionnalités
  .feature-card {
    width: 45%;  
  }  
  .feature-icon {
    font-size: 20px;
    margin-bottom: 5px;
    background-color: #ffffff;
  }
  .feature-card p { 
    font-size: 10px;
  }
  .feature-card h3 {
    font-size: 12px;
  }

  .navbar {
    display: none;
  }
  
  .navbar ul li{
    font-size: 5px;
  
  }
  
  .navbar li {
    margin: 5px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    transition: 0.3s ease;
    border-radius: 13px;
  }
  
.btn-inscription{
  font-size: 15px;
  padding: 5px;
}
.fa-solid{
  display: none;
}
  
  .logo{
    width: 45px;
    height: 45px;
}
  .topnav-logo{
    margin-left: 20px;
  .planning{
    font-size: 15px;
  }
}
.aim-container{
  margin-top: 75px;
  width: 100%;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0px;

  }
  .aim-container h1{
    font-size: 19px;
    
  }
  .aim-container h3{
    font-size: 13px;
    width:auto;
  }
  .aim-container h1 span{
    font-size: 19px;
  }
  .landing-container3{
    width: 100%;
  
  }
  .landing-box{
    width: 45%;
    box-sizing: border-box;
  }
  .service-title{
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .services-grid{
    gap: 20px; 


  }
  .service-card {
    width: 45%;
    box-sizing: border-box;
    height: 260px;
  }
  .service-card img{
    height: 110px;
     
  }
  .service-card h3 {
    font-size: smaller;
    
  }

  #class {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    padding-left:0px;
    padding-right: 0px;
    width: 100%; 
  }


  .btn-voir-plus{
    margin-left: 73%;
  }
  
  .toggle-menu {
    display: block;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 50%;

  }
  .mobile-menu {
      position: fixed;
      top: 48px;
      right: 0;
      line-height: 15px;
      background-color:#0000007b;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 10px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 15px;
  }
  .mobile-menu a:hover {
   background: #74C0FC;
  }
  .mobile-menu a i {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
    font-size: 18px;   /* Taille de l'icône */
    color: white;
  }

  .container .service-title{
    margin-top: 20px;
    margin-bottom: 0px;
  }
  header {
    background-image: url(https://media.istockphoto.com/id/628506984/fr/photo/travailler-intelligemment-travailler-dur.jpg?s=1024x1024&w=is&k=20&c=Lech64nBZbdvEVq-Qci0Res7mYXFDRDdFR7WDhaTSxs=);
    background-size: cover;
  
  }
  .btn-commencer{
    background-color: #d52727;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 6px;
    font-size: 15px;
    width: 120px;
  }
  .avis-utilisateur #p3{
    text-align: justify;  

  }
  .landing-container2 .service-title{
    margin-top: 15px;
  }
  .landing-container3 .service-title{
    margin-bottom: -15px;
  }
  .landing-container3 {
    margin-bottom: -70px;
  }
  #landing-container4{
    display: flex;
    flex-direction: column;
  }
  #landing-container4 span{
    font-size: 15px;
    text-align: center;
    margin-top: -30px;
  }
  #landing-container4 button{
    width: 100px;
    font-size: 15px;  
  }
  .avis-utilisateur{ 
    width: 100%;
  }
  .description{
    text-align: justify;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .title{
    font-size: 15px;
    color: black;
  }

  .steps {
    gap: 0px;
    justify-content: space-around; 

  }
  .how-it-works .step {
    width: 100%;
    padding: 10px;
  }
  .how-it-works .service-title{
    margin-top: -40px;
    margin-bottom: 0px;
  }



}
@media screen and (max-width: 360px){
  .toggle-menu {
    margin-left: 45%;

  }
}















