<!-- user-dashboard-stats.component.html -->
<h1 class="dashboard-title">Mes Statistiques</h1>
<div class="stats-container">
  <div class="stat-card fade-in">
    <div class="stat-icon-container">
      <i class="fa-regular fa-calendar-alt " style="color: #c0392b;"></i>
    </div>
    <h3>RDV à venir</h3>
    <p>{{stats.upcomingAppointments}}</p>
  </div>
  
  <div class="stat-card fade-in">
    <div class="stat-icon-container">
      <i class="fas fa-check-circle" style="color: #27ae60"></i>
    </div>
    <h3>Formations terminées</h3>
    <p>{{stats.completedFormations}}</p>
    <div class="stat-progress">

    </div>
  </div>
  
  <div class="stat-card fade-in">
    <div class="stat-icon-container">
      <i class="fas fa-chart-line"  style="color: #0f7ede"></i>
    </div>
    <h3>Total des souscriptions</h3>
    <p>{{stats.souscriptions}}</p>
    
  </div>
  
  <div class="stat-card fade-in">
    <div class="stat-icon-container">
      <i class="fas fa-star"  style="color: #cc9f0d"></i>
    </div>
    <h3>Services en favoris</h3>
    <p>{{stats.favoris}}</p>
    <div class="star-rating">
      <i class="fas fa-star"  *ngFor="let star of getStars(stats.favoris)"></i>
    </div>
  </div>
</div>