.faq-container {
    padding: 20px;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  .faq-item h3 {
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: normal;
    color: rgb(52, 52, 52);
  }
  
  .faq-item p {
    color: rgb(20, 20, 20);
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 2px solid #2196F3;
  }
  