<header>
  <nav class="topnav">
    <section class="topnav-logo">
      <div class="logo"></div>
      <p class="planning">PLANNING</p> 
    </section>
    
    <div class="nav-search">
      <input class="top-input" type="text" placeholder="Rechercher..." />
      <button id="iconrechercher">
        <i class="fas fa-search"></i>
      </button>
    </div>
    
    <!-- Toggle Menu pour petits écrans -->
    <div class="toggle-menu" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    
    <div [ngClass]="{ 'mobile-menu': true, 'open': toggleMenuVisible, 'closed': !toggleMenuVisible }">
      <button  routerLink="/user-home" routerLinkActive="active" (click)="OnUserConnexion()">
        <i class="fa fa-home"></i> Accueil
      </button>
      <button  routerLink="/user-dashboard" routerLinkActive="active" (click)="OnUserdashboard()">
        <i class="fa fa-tachometer-alt"></i> Dashboard
      </button>
      <button  routerLink="/user-serv" routerLinkActive="active" (click)="OnUserService()">
        <i class="fa fa-heart"></i> Mes favoris
      </button>
      <button  routerLink="/user-historique" routerLinkActive="active" (click)="OnUserHistorique()">
        <i class="fa fa-history"></i> Historique
      </button>
      <button  routerLink="/user-calendrier" routerLinkActive="active" (click)="OnUserCalendrier()">
        <i class="fa fa-calendar-alt"></i> Calendrier
      </button>
      <button  routerLink="/user-parameter" routerLinkActive="active">
        <i class="fa fa-cogs"></i> Parametres
      </button>
      <button  routerLink="/" routerLinkActive="active">
        <i class="fa fa-sign-out-alt"></i> Deconnexion
      </button>
    </div>
    
    

    <div class="nav-icons">
      <i class="fa-solid fa-user "></i>
      <i class="fa-solid fa-bell "></i>
    </div>
  </nav>
</header>
