.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.topnav-logo {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-image: url(https://mail.kms-entreprises.com/assets/img/branding/KMS%20logo.jpg);
}

.planning {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.nav-search {
  display: flex;
  align-items: center;
  border: 1px solid #00000023;
  border-radius: 15px;
  background-color: #fcfcfc;
}

.top-input {
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 15px 0 0 15px;
  font-size: 16px;
}

#iconrechercher {
  color: rgb(2, 0, 0);
  border: none;
  box-shadow: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

#iconrechercher:hover {
  font-size: large;
}
.nav-icons{
  margin-right: 25px;

  .fa-bars{
    display: none;

  }
}

.nav-icons i {
  margin-left: 20px;
  color: #333;
  cursor: pointer;
  font-size: 23px;
}

  /* Par défaut, cacher le toggle menu */
  .toggle-menu {
    display: none;
  }
  .mobile-menu {
    display: none;

  }
  


    /* Animation du menu mobile */
    @keyframes slideIn {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
    
    @keyframes slideOut {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(100%);
      }
    }
    
    /* Animation pour ouvrir le menu */
    .mobile-menu.open {
      animation: slideIn 0.3s forwards;
    }
    
    /* Animation pour fermer le menu */
    .mobile-menu.closed {
      animation: slideOut 0.3s forwards;
    }








@media screen and (min-width: 200px) and (max-width: 500px) {
    .nav-search {
      display: none;
    }
  
    .nav-icons {

      display: none;
    }
  
    .toggle-menu {
      display: block;
      margin-right: 25px;
      font-size: 24px;
      color: #333;
      cursor: pointer;
      background: none;
    }
    .toggle-menu:hover {
      background: none;
    }
    .logo {
      margin-left: 20px;
      
    }
    .mobile-menu i {

      margin-right: 10px; /* Espacement entre l'icône et le texte */
      font-size: 16px;   /* Ajustez la taille de l'icône */
      color: #fff;       /* Couleur de l'icône */
    }

  .mobile-menu button{
    color: white;
    top: 50px;
    border-radius: 0px;
    width: 100%;
    padding: 15px; 
    padding-left: 30px;
    text-align:left;
    box-shadow: none;
  }

  .mobile-menu button:active{
    background-color: #3498db; /* Couleur lorsqu'un élément est actif */
   } 
  .mobile-menu button:hover{
    background: #2f7fbd8d;
  }
  .mobile-menu{
    right: 0;
    display: flex;
    position: fixed;
    top: 48px;
    line-height: 20px;
    flex-direction: column;
    box-sizing: border-box;
    top: 57px;
    background-color: #0e0f49;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;

  }

  }

