
<div class="login-container">
    <div class="container">
        <form class="container1">
            <div class="logo">            
                <img src="https://kms-entreprises.com/assets/img/branding/KMS%20logo.jpg" alt="Logo">
                <p>PLANNING</p>
            </div>
            <p>Vueillez remplir le formulaire d'inscription</p>
            <input type="text" class="user-name" placeholder="Nom"><br><br>
            <input type="text" class="user-name" placeholder="Prenom"><br><br>
            <input type="text" class="num-telephone" placeholder="N° Téléphone"><br><br>
            <input type="text" class="email" placeholder="email@gmail.com"><br><br>
            <input type="password" class="password" placeholder="Password" ><br><br>
            <input type="password" class="password" placeholder="Confirmez votre mot de passe" ><br><br>
            <input type="checkbox" id="terms" name="terms" value="terms">
            <label for="terms">J'accepte <a class="conditions" href="">les termes et conditions d'utilisation</a></label><br><br>

            <button type="button">S'inscrire</button>
        </form>
    </div> 
</div>
