<app-header></app-header>
<app-sidebar [collapsedByDefault]="false" (sidebarToggle)="isSidebarCollapsed = $event"></app-sidebar>

<div class="user-dashboard" [ngClass]="{ 'expanded': isSidebarCollapsed }">
  <!-- Gestion des erreurs -->
  <div class="error-message" *ngIf="error">
    {{ error }}
  </div>

  <!-- Section Bienvenue & Alertes -->
  <div class="welcome-alert-container" *ngIf="!isLoading">
    <div class="welcome-card">
      <div class="cta">
        <h2>Heureux de vous revoir, <span class="user-name">{{userName}}</span> </h2>
        <p>Souscrivez à un nouveau service aujourd'hui et montez en compétence </p>
      </div>
      <button class="floating-action-btn" (click)="onServiceList()"> Nouveau service</button>
    </div>
    <div class="alert-card">
      <h3><i class="fas fa-bell"></i> Vos notifications</h3>
      <div *ngIf="alerts.length > 0; else noAlerts">
        <div class="alert-item" *ngFor="let alert of alerts">
          <i class="fas" [ngClass]="{
            'fa-calendar-check alert-icon success': alert.type === 'appointment',
            'fa-exclamation-circle alert-icon warning': alert.type === 'warning'
          }"></i>
          <p>{{alert.message}}</p>
        </div>
      </div>
      <ng-template #noAlerts>
        <p class="no-notifications">Aucune notification pour le moment</p>
      </ng-template>
    </div>
  </div>

  <!-- Composants enfants -->
  <app-user-dashboard-stats [stats]="stats" *ngIf="!isLoading"></app-user-dashboard-stats>
  <app-user-dashboard-rendez-vous 
    [appointments]="upcomingAppointments" 
    *ngIf="!isLoading ">
  </app-user-dashboard-rendez-vous>

  <!-- Loading state -->
  <div class="loading-spinner" *ngIf="isLoading ">
    <i class="fas fa-spinner fa-spin"></i> Chargement en cours...
  </div>
</div>