<app-header></app-header>
<app-sidebar (sidebarToggle)="isSidebarCollapsed = $event"></app-sidebar>

<section class="services-container" [ngClass]="{ 'expanded': isSidebarCollapsed }">
    <h2 class="title">Mes Favoris !</h2>

    <!-- Barre de recherche -->
    <div class="search-bar">
        <input type="text" placeholder="Rechercher un favoris..." />
        <button class="btn-search">🔍</button>
    </div>

    <!-- Filtres -->
    <div class="filters">
        
    </div>

    <!-- Grille des services avec animation -->
    <div class="services-grid" *ngIf="showServices">
        <div class="service-card" *ngFor="let service of services">
            <img src="assets/images/serv.jpg" alt="Service">
            <h3>{{ service.nom }}</h3>
            <p><strong>{{ service.expert }}</strong></p>
            <p class="price">{{ service.prix }}fcfa</p>
            <div class="rating">★★★★★ ({{ service.note }})</div>
            <button class="btn-book" (click)="OnPayment()">Réserver</button>
        </div>
    </div>
</section>
