<div class="role-selection-container">
    <h1>Choisissez votre rôle</h1>
    <p class="description">
      Vous êtes à un clic de commencer votre aventure avec KMS Planning. 
      Sélectionnez votre rôle lors de l'inscription pour bénéficier d'une expérience adaptée à vos besoins.
    </p>
  
    <div class="role-card-cont">
   
    <div class="role-card-container">
        <div class="role-card">
            <div class="role-info">
              <i class="fas fa-chalkboard-teacher"></i>
              <h2>Devenez Expert</h2>
              <p>
                Partagez vos compétences, créez des formations interactives et 
                aidez les autres à apprendre tout en générant des revenus.
              </p>
            </div>
          </div>
        
          <div class="role-card">
            <div class="role-info">
              <i class="fas fa-user-graduate"></i>
              <h2>Devenez Client</h2>
              <p>
                Accédez à des formations exclusives, apprenez directement avec des experts 
                et progressez à votre rythme.
              </p>
            </div>
          </div>
    </div>
    <button class="role-button client"(click)="OnUserLogIn()">Inscrivez-vous maintenant</button>

  </div>
   
  </div>
  