/* Style général de la page */
.role-selection-container {
    text-align: center;
    margin: 50px auto;
    width: 80%;
  }
  .role-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:  #74C0FC;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .role-card {
    display: inline-block;
    width: 45%;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  }
  
  .role-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .role-info i {
    font-size: 50px;
    color:  #0e0f49;
    margin-bottom: 20px;
  }
  
  .role-info h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .role-info p {
    font-size: 16px;
    color: #666;
  }
  
  .role-button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    margin-top: 20px;
  }
  
  .role-button.expert {
    background-color: #74C0FC;
  }
  
  .role-button.client {
    background-color: #74C0FC;
    width: 30%;
  }
  
  .role-button:hover {
    background-color: #0d6efd;
    transform: scale(1.05);
  }
  
  .role-button.client:hover {
    background-color:  #0e0f49;
    transform: scale(1.05);
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .role-card {
      width: 90%;
    }
  }
  