/* Conteneur du calendrier */
.calendar-container {
    margin-left: 300px; /* Ajustement pour la sidebar */
    margin-top: 60px; /* Ajustement pour la navbar */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: margin-left 0.3s ease-in-out;

}
//ajustement de la largeur de la page lorsque la side bar est réduite
.calendar-container.expanded {
    margin-left: 80px;
}

/* Détails de l'événement */
.event-details {
    margin-top: 20px;
    padding: 15px;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 300px;
}

/* Animation d'apparition */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Bouton de fermeture */
.btn-close {
    background: rgb(18, 12, 196);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.btn-close:hover {
    background: darkred;
}
.legend {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .legend-btn {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .all {
    background: #6c757d; /* Gris */
  }
  
  .past {
    background: #ff4d4d; /* Rouge */
  }
  
  .current {
    background: #FFA500; /* Orange */
  }
  
  .upcoming {
    background: #28a745; /* Vert */
  }
  
  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .event-details {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

@media screen and (min-width: 300px) and (max-width: 450px) {
    app-sidebar{
        display: none;
    }
    .calendar-container {
        margin-left: 0px; /* Ajustement pour la sidebar */
        margin-top: 60px; 
    }
    .legend {
        flex-wrap: wrap;
        justify-content: center;
      }
}
 
