<app-header-expert></app-header-expert>
<app-sidebar-expert  [collapsedByDefault]="true"  (sidebarToggle)="isSidebarCollapsed = $event" ></app-sidebar-expert>

    <div class="dashboard-container" [ngClass]="{ 'expanded': isSidebarCollapsed }">      

        <!--  Section Résumé -->
        <div class="summary-cards">
          <div class="card">
            <i class="fa-solid fa-book " id="book"></i>
            <div class="info">
              <h3>0</h3>
              <p>Formations créées</p>
            </div>
          </div>
          <div class="card">
            <i class="fa-solid fa-users" style="color: orangered;" id="users"></i>
            <div class="info">
              <h3>0</h3>
              <p>Participants inscrits</p>
            </div>
          </div>
          <div class="card">
            <i class="fa-solid fa-dollar-sign" id="dollar"></i>
            <div class="info">
              <h3>0</h3>
              <p>Revenus générés</p>
            </div>
          </div>
          <div class="card">
            <i class="fa-solid fa-calendar" style="color: green;" id="calendar"></i>
            <div class="info">
              <h3>0</h3>
              <p>Sessions à venir</p>
            </div>
          </div>
        </div>
      
         <!-- Section Graphique -->
         <div class="chart-container">
          <app-revenue-chart></app-revenue-chart>
        </div>

        <h1 class="h1">Mes formations </h1>
        <div class="services-grid">
          <div class="service-card">
              <!-- Image -->
              <div class="service-image-container">
              <img [src]="service.imageUrl" [alt]="service.title" class="service-image" />
              </div>
          
              <!-- Détails service -->
              <h3 class="service-title">{{ service.title }}</h3>
              
              <div>
                Date: {{service.date}}
              </div>
              <!-- Expert -->
              <div class="">
                <span class="rating-count">Souscriptions : {{ service.souscriptions }}</span>
              </div>
              

              <!--<p class="service-description">{{ service.description }}</p>-->
          
              <div class="price">Prix : {{ service.price }} fcfa</div>
              
            </div>
        </div>


       

        <!-- Section Prochains Rendez-vous - Version Cards -->
<div class="dashboard-section">
  <h3 class="section-title">Prochains Rendez-vous</h3>
  
  <div class="appointments-grid">
    <app-prochain-rendez-vous></app-prochain-rendez-vous>

  </div>
</div>



<!-- Bouton flottant amélioré -->
<button class="floating-action-btn" (click)="onCreateCourse()">
  <i class="fa-solid fa-plus"></i>
  <span>Nouveau Service</span>
</button>
  
</div>
<app-footer></app-footer>
      
    





