
<div class="dashboard-container" [ngClass]="{ 'expanded': isSidebarCollapsed }">      

  <!-- Section Résumé -->
  <div class="summary-cards" *ngIf="!isLoading">
    <div class="card">
      <i class="fa-solid fa-book" id="book"></i>
      <div class="info">
        <h3>{{ totalServices }}</h3>
        <p>Formations créées</p>
      </div>
    </div>
    <div class="card">
      <i class="fa-solid fa-users" style="color: orangered;" id="users"></i>
      <div class="info">
        <h3>{{ stats.participantsEnrolled }}</h3>
        <p>Participants inscrits</p>
      </div>
    </div>
    <div class="card">
      <i class="fa-solid fa-dollar-sign" id="dollar"></i>
      <div class="info">
        <h3>{{ stats.revenueGenerated | currency:'CFA':'symbol':'1.0-0' }}</h3>
        <p>Revenus générés</p>
      </div>
    </div>
    <div class="card">
      <i class="fa-solid fa-calendar" style="color: green;" id="calendar"></i>
      <div class="info">
        <h3>{{ upcomingServices }}</h3>
        <p>Sessions à venir</p>
      </div>
    </div>
  </div>
  
  <!-- Section Graphique -->
  <div class="chart-container">
    <app-revenue-chart></app-revenue-chart>
  </div>




  <!-- Bouton flottant -->
  <button class="floating-action-btn" (click)="onCreateCourse()">
    <i class="fa-solid fa-plus"></i>
    <span>Nouveau Service</span>
  </button>
  
</div>

<!-- Loader pour l'état de chargement -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>