<app-header></app-header>
<section class="sidebar-container">
    <div class="sidebar" [class.collapsed]="isCollapsed">
        <div class="sidebar-header">
            <i id="fa-bars" class="fa-solid fa-right-left" (click)="toggleSidebar()"></i>
            <h3 *ngIf="!isCollapsed"></h3>
        </div>
        <ul class="list-unstyled components">
            <li routerLink="/user-home" routerLinkActive="active" (click)="OnUserConnexion()">
                <i class="fa-solid fa-house"></i>
                <a routerLink="/user-home">Home</a>
            </li>
            <li routerLink="/user-serv" routerLinkActive="active" (click)="OnUserService()">
                <i class="fa-solid fa-globe"></i>
                <a routerLink="/user-serv">Services</a>
            </li>
            <li routerLink="/souscription" routerLinkActive="active">
                <i class="fa-solid fa-money-bill-wave"></i>
                <a routerLink="/souscription">Souscription</a>
            </li>
            <li routerLink="/parametres" routerLinkActive="active">
                <i class="fa-solid fa-cog"></i>
                <a routerLink="/parametres" *ngIf="!isCollapsed">Paramètres</a>
            </li>
            <li routerLink="/historique" routerLinkActive="active">
                <i class="fa-solid fa-history"></i>
                <a routerLink="/historique" *ngIf="!isCollapsed">Historique des paiements</a>
            </li>
            <li routerLink="/calendar" routerLinkActive="active">
                <i class="fa-solid fa-calendar"></i>
                <a routerLink="/calendar" *ngIf="!isCollapsed">Calendrier</a>
            </li>
        </ul>
    </div>
</section>
