<section class="sidebar-container">
    <div class="sidebar">
        <div class="sidebar-header">
        <h3>Angular Sidebar</h3>
        </div>
        <ul class="list-unstyled components">
        <li>
            <i class="fa-solid fa-house"></i>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <i class="fa-light fa-globe"></i>
            <a routerLink="/services">Services</a>
        </li>
        <li>
            <a routerLink="/Souscription">Souscription</a>
        </li>
        <li>
            <a routerLink="/Parametres">Parametres</a>
        </li>
        <li>
            <a routerLink="/Historique">Historique des paiments</a>
        </li>
        <li>
            <a routerLink="/Calendar">Calendar</a>
        </li>
        </ul>
    </div>
</section>