<div class="login-container">
    <div class="container">
        <form class="container1">
            <div class="logo">
                <img src="/assets/images/KmsLogo.jpg" alt="Logo">
                <p>PLANNING</p>
            </div><br>
            
            <!-- Email avec icône -->
            <div class="input-group">
                <label for="email" class="input-label">Email</label>
                <i class="fas fa-envelope"></i>
                <input type="text" id="email" class="email" name="email" placeholder="email@gmail.com" [(ngModel)]="loginData.email">
            </div><br>
            
            <!-- Mot de passe avec icône -->
            <div class="input-group">
                <label for="password" class="input-label">Mot de passe</label>
                <i class="fas fa-lock"></i>
                <input type="password" id="password" class="password" name="password" placeholder="Password" [(ngModel)]="loginData.password">
            </div><br>
            
            <!-- Message d'erreur -->
            <p *ngIf="message" class="error-message">{{ message }}</p>
            
            <!-- Lien mot de passe oublié -->
            <a href="#" class="forgot-password">Mot de passe oublié ?</a><br><br>
            
            <!-- Bouton de connexion -->
            <button type="button"  [disabled]="loading">
                <span *ngIf="!loading">Connexion</span>
                <span *ngIf="loading" class="spinner">
                    Connexion ...
                </span>
            </button>
        </form>
    </div>
</div>