<div class="hero-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <!-- Slider des images -->
  <div class="hero-slide" *ngFor="let image of images; let i = index"
       [class.active]="i === currentIndex"
       [@slideAnimation]="i === currentIndex ? 'active' : 'inactive'">

    <img [src]="image.url" class="hero-image" alt="{{image.title}}">

    <div class="dark-overlay"></div>


    <div class="hero-content">
      <h1>{{ image.title }}</h1>
      <p class="subtitle">{{ image.subtitle }}</p>
      <div class="search-container">
        <input type="text" placeholder="Rechercher..." class="search-input" />
        <i class="fa fa-search search-icon "  ></i>
      </div>
      <div class="partners">
        <p>Nos partenaires :</p>
        <img src="assets/images/partenaire1.png" alt="Partenaire 1" class="partner-logo">
        <img src="assets/images/partenaire2.png" alt="Partenaire 2" class="partner-logo">
        <img src="assets/images/partenaire3.png" alt="Partenaire 3" class="partner-logo">
        <img src="assets/images/partenaire4.png" alt="Partenaire 4" class="partner-logo">
        <img src="assets/images/partenaire5.png" alt="Partenaire 5" class="partner-logo">
      </div>
    </div>
  </div>

  <!-- Indicateurs de navigation -->
  <div class="indicators">
    <span *ngFor="let image of images; let i = index" [class.active]="i === currentIndex"
          (click)="goTo(i)"></span>
  </div>
</div>
