<div class="hero-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <!-- Slider des images -->
  <div class="hero-slide" *ngFor="let image of images; let i = index"
       [class.active]="i === currentIndex"
       [@slideAnimation]="i === currentIndex ? 'active' : 'inactive'">

    <img [src]="image.url" class="hero-image" alt="{{image.title}}">

    <div class="dark-overlay"></div>


    <div class="hero-content">
      <h1>{{ image.title }}</h1>
      <p class="subtitle">{{ image.subtitle }}</p>
      <div class="search-container">
        <input type="text" placeholder="Rechercher..." class="search-input" />
        <i class="fa fa-search search-icon "  ></i>
      </div>
      <div class="partners">
        <p>Nos partenaires :</p>
        <a href="https://kms-entreprises.com/" class="logo-intellium"></a>
      </div>
    </div>
  </div>

  <!-- Indicateurs de navigation -->
  <div class="indicators">
    <span *ngFor="let image of images; let i = index" [class.active]="i === currentIndex"
          (click)="goTo(i)"></span>
  </div>
</div>
