<div class="login-container">
    <div class="container">
        <form class="container1">
            <div class="logo">            
                <img src="https://kms-entreprises.com/assets/img/branding/KMS%20logo.jpg" alt="Logo">
                <p>PLANNING</p>
            </div><br>
            
            <!-- Email avec icône -->
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="text" class="email" placeholder="email@gmail.com">
            </div><br>
            
            <!-- Mot de passe avec icône -->
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" class="password" placeholder="Password">
            </div><br>
            
            <!-- Lien mot de passe oublié -->
            <a href="#" class="forgot-password">Mot de passe oublié ?</a><br><br>
            
            <!-- Bouton de connexion -->
            <button type="button">Connexion</button>
        </form>
    </div> 
</div>
