
<body>
    <div class="payment-container">
        <h2>Choisissez votre méthode de paiement</h2>
      
        <div class="payment-options">
          <!-- Option 1 : Carte de Crédit/Débit -->
          <div class="payment-option">
            <img src="assets/icons/credit-card.png" alt="Carte de Crédit" class="payment-icon" />
            <p>Carte de Crédit</p>
          </div>
      
          <!-- Option 2 : PayPal -->
          <div class="payment-option">
            <img src="assets/icons/paypal.png" alt="PayPal" class="payment-icon" />
            <p>PayPal</p>
          </div>
      
          <!-- Option 3 : Flutterwave -->
          <div class="payment-option">
            <img src="assets/icons/flutterwave.png" alt="Flutterwave" class="payment-icon" />
            <p>Flutterwave</p>
          </div>
      
          <!-- Option 4 : Mobile Money -->
          <div class="payment-option">
            <img src="assets/icons/mobile-money.png" alt="Mobile Money" class="payment-icon" />
            <p>Mobile Money</p>
          </div>
    
          <div class="payment-option">
            <img src="assets/icons/mobile-money.png" alt="Mobile Money" class="payment-icon" />
            <p>Mobile Money</p>
          </div>
          <div class="payment-option">
            <img src="assets/icons/mobile-money.png" alt="Mobile Money" class="payment-icon" />
            <p>Mobile Money</p>
          </div>
          <div class="payment-option">
            <img src="assets/icons/mobile-money.png" alt="Mobile Money" class="payment-icon" />
            <p>Mobile Money</p>
          </div>
          <div class="payment-option">
            <img src="assets/icons/paypal.png" alt="PayPal" class="payment-icon" />
            <p>PayPal</p>
          </div>
      
          <div class="payment-option">
            <img src="assets/icons/mobile-money.png" alt="Mobile Money" class="payment-icon" />
            <p>Mobile Money</p>
          </div>
          <div class="payment-option">
            <img src="assets/icons/mobile-money.png" alt="Mobile Money" class="payment-icon" />
            <p>Mobile Money</p>
          </div>
          <div class="payment-option">
            <img src="assets/icons/paypal.png" alt="PayPal" class="payment-icon" />
            <p>PayPal</p>
          </div>
          <div class="payment-option">
            <img src="assets/icons/paypal.png" alt="PayPal" class="payment-icon" />
            <p>PayPal</p>
          </div>
      
    
        </div>
      
        <!-- Animation bouton -->
        <button class="payment-button" (click)="onPaymentClick()">Payer maintenant</button>
      </div>
      
</body>
