<app-header></app-header>
<app-sidebar (sidebarToggle)="isSidebarCollapsed = $event"></app-sidebar>


<section class="calendar"  >

  <div class="calendar-container" (click)="handleEventClick($event)" [ngClass]="{ 'expanded': isSidebarCollapsed }">
    <div class="legend">
      <button (click)="filterEvents('all')" class="legend-btn all">Tous</button>
      <button (click)="filterEvents('past')" class="legend-btn past">Passés</button>
      <button (click)="filterEvents('current')" class="legend-btn current">En cours</button>
      <button (click)="filterEvents('upcoming')" class="legend-btn upcoming">À venir</button>
    </div>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
  <!-- Détails de la formation sélectionnée -->
  <div *ngIf="selectedEvent" class="event-details fade-in">
    <h3>Détails de la formation</h3>
    <p><strong>Formation :</strong> {{ selectedEvent.title }}</p>
    <p><strong>Expert :</strong> {{ selectedEvent.expert }}</p>
    <p><strong>Date :</strong> {{ selectedEvent.date }}</p>
    <p><strong>Heure :</strong> {{ selectedEvent.heure }}</p>
    <a (src)="[ selectedEvent.link ]"><strong>Lien: </strong>{{ selectedEvent.link }}</a>
  </div>
  
</section>  