<body>
  <nav class="nav-navbar">
    <nav class="topnav">
      <section class="topnav-logo">
        <div class="logo"></div>
        <p class="planning">PLANNING</p>
      </section>
    </nav>
    <nav class="navbar">
      <ul>
        <li><a href="#" class="active">Accueil</a></li>
        <li><a (click)="onService()">Service</a></li>
        <li><a href="#">Catégorie</a></li>
      </ul>
      <button class="btn-login" (click)="OnConnexion()">Login</button>
    </nav>
    <div class="toggle-menu" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    
    <div *ngIf="toggleMenuVisible" class="mobile-menu">
      <a href=""><i class="fa fa-home"></i>Accueil</a>
      <a (click)="onService()"><i class="fa fa-cogs"></i> Service</a>
      <a href=""><i class="fa fa-th-list"></i> Catégorie</a>
      <a href=""><i class="fa fa-info-circle"></i> A propos</a>
    </div>
  
  </nav>
  
<header>
  <div class="aim-container">
    <h1>
      <span>Enseignez</span> ou <span>Apprenez</span> sans limites
    </h1>
    <h3>
      Inscrivez-vous, accédez aux services et formations en exclusivité et échangez en direct avec des experts !
    </h3>
    <div class="landing-content">
      <button class="btn-commencer" (click)="OnInscription()">
         Commencer
      </button>
    </div><br>
  
    <div class="canvas"> 
      <button (click)="onContinue()">dashboard-admin</button>
      <button (click)="Onuser()">dashboard-user</button>
    </div>
    
  </div>
</header><br>


  <div class="service-title">Découvrez des services <span>sur mesure</span>, adaptés à <span>vos besoins </span>!</div>
  <div class="services-grid" *ngIf="showServices">
    <div class="service-card" *ngFor="let service of services">
        <img [src]="service.source" alt="Service" class="service-image">
        <h3>{{ service.nom }}</h3>
        <p> <strong>{{ service.expert }}</strong></p>
        <div class="rating">★★★★★ ({{ service.note }})</div>
        <button class="btn-book" (click)="OnConnexion()">Réserver</button>
    </div>
  </div>
  <input type="button" value="Voir plus ..."id="btn-voir-plus" class="btn-voir-plus" /><br><br><br>



  <div class="container">
  <div class="service-title">Nos <span>Fonctionnalités</span></div><br>
      <div id="class">
          <div class="landing-box">
            <div class="img1"></div>
            <p id="p1">Accepter les réservations en ligne.</p>
          </div>
          <div class="landing-box">
            <div class="img2"></div>
            <p id="p2">Notifications via SMS/Email.</p>
          </div>
          <div class="landing-box">
            <div class="img3"></div>
            <p id="p3">Application client et expert.</p>
          </div>
          <div class="landing-box">
            <div class="img4"></div>
            <p id="p4">Gestion des rendez-vous.</p>
          </div>
      </div>
      <input type="button" value="Voir plus ..." class="btn-voir-plus" />
  </div><br>

    <div class="landing-container3">
      <div class="service-title">Quelques avis <span>utilisateurs</span></div>
      <div class="avis-container">

          <div class="avis-utilisateur">
              <div class="avis-client">
                  <img src="/assets/images/user1.jpg" alt="utilisateur">
                  <div class="nom">
                    <p class="p1"> David K ,<span> Formateur en développement web</span></p>
                    <p class="p2"><strong>★★★★★ </strong> Il y a 1 mois</p>
                  </div>
              </div>
              <p id="p3">
                En tant qu'expert, cette application m’a permis de proposer mes formations sans me soucier de la gestion des rendez-vous. 
                Les paiements sont sécurisés, les liens de visioconférence sont générés automatiquement.
              </p>
          </div>

        <div class="avis-utilisateur">
          <div class="avis-client">
            <img src="assets\images\userStudent.jpg" alt="utilisateur">
            <div class="nom">
              <p class="p1"> Sarah Ngouffo ,<span> Etudiante en marketing digital</span></p>
              <p class="p2"><strong>★★★★★ </strong> Il y a 2 semaines</p>

            </div>
          </div>
          <p id="p3">
            J’ai pu réserver une formation en quelques clics et échanger directement avec un expert de mon domaine. 
            Plus besoin d’envoyer des dizaines d’emails pour fixer un rendez-vous, tout est automatisé !👏
          </p>
        </div>

      </div>
      <br /><br /> 
      
      <div id="landing-container4">
        <span>Rejoignez-nous dès maintenant !</span>
        <br>
        <button class="btn-inscription" (click)="OnInscription()">S'inscrire</button>
      </div>
    </div>


<app-footer></app-footer>
</body>
