/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 15px;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}


p{
  font-family: italic;
}
/* styles.css */
[appAppearOnScroll] {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

[appAppearOnScroll].show {
  opacity: 1;
  transform: translateY(0);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

