/* Conteneur principal */
.home-container {
    margin-left: 300px; /* Largeur de la sidebar */
    margin-top: 60px; /* Hauteur de la navbar */
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    transition: margin-left 0.3s ease-in-out;

  }
    //ajustement de la largeur de la page lorsque la side bar est réduite
    .home-container.expanded {
      margin-left: 80px;
    }
  
  
  /* Bannière d'accueil */
  .banner {
    background: linear-gradient(135deg, #74C0FC, #0e0f49);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .banner h1 span {
    font-weight: bold;
  }
  
  /* Contenu principal */
  .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
  
  /* Cartes */
  .card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* Boutons */
  .btn-primary {
    background-color: #74C0FC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0e0f49;
  }
  
  .btn-secondary {
    background-color: #0e0f49;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .btn-secondary:hover {
    background-color: #74C0FC;
  }
  


  /* Animation fade-in simple */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Appliquer l'animation sur toute la page */
#card1 {
  animation: fadeInUp 0.15s ease-out;
}
#card2 {
  animation: fadeInUp 0.30s ease-out;
}
#card3 {
  animation: fadeInUp 0.45s ease-out;
}
#card4 {
  animation: fadeInUp 1s ease-out;
}

@media screen and (max-width: 768px){
  app-sidebar{
    display: none;
  }
  .home-container {
    margin-left: 0px; /* Largeur de la sidebar */
    margin-top: 60px; /* Hauteur de la navbar */
    background-color: #f8f9fa;
    min-height: 100vh;
    transition: margin-left 0.3s ease-in-out;

  }
}
  