<app-header></app-header>

<app-sidebar [collapsedByDefault]="false" (sidebarToggle)="isSidebarCollapsed = $event"></app-sidebar>

<section class="home-container" [ngClass]="{ 'expanded': isSidebarCollapsed }">
  <!-- Bannière d'accueil -->
  <div class="banner">
    <h1>Heureux de vous revoir  , <span>{{ username }}</span> </h1>
    <p>Prêt à réserver votre prochain rendez-vous ?</p>
    <button class="btn-primary">Prendre un Rendez-vous</button>
  </div>

  <!-- Section principale -->
  <div class="main-content">
    <!-- Prochains rendez-vous -->
    <div  id="card1" class="card">
      <h2>📅 Prochain Rendez-vous</h2>
      <p><strong>Expert :</strong> Dr. Jean Dupont</p>
      <p><strong>Date :</strong> 28 Février 2025 - 15h30</p>
      <button class="btn-secondary">Voir mon agenda</button>
    </div>

    <!-- Formations suivies -->
    <div id="card2" class="card">
      <h2>🎓 Formations en Cours</h2>
      <p><strong>Nom :</strong> Gestion du temps et productivité</p>
      <button class="btn-secondary">Voir formations</button>
    </div>

    <!-- Experts recommandés -->
    <div id="card3" class="card">
      <h2>🌟 Experts recommandés</h2>
      <p><strong>Nom :</strong> Dr. Sophie Martin</p>
      <p><strong>Spécialité :</strong> Psychologie</p>
      <button class="btn-secondary">Voir son profil</button>
    </div>

    <!-- Historique des paiements -->
    <div id="card4" class="card">
      <h2>💳 Mes favoris</h2>
      <p><strong>Services :</strong> </p>
      <p>- Cybersécurité</p>
      <p>- Marketing Digital</p>
      <button class="btn-secondary">Voir favoris</button>
    </div>
  </div>
</section>