<app-header></app-header>

<app-sidebar [collapsedByDefault]="false" (sidebarToggle)="isSidebarCollapsed = $event"></app-sidebar>

<section class="home-container" [ngClass]="{ 'expanded': isSidebarCollapsed }">
  <!-- Bannière d'accueil -->
  <div class="banner">
    <h1>Heureux de vous revoir  , <span>{{ username }}</span> </h1>
    <p>Prêt à réserver votre prochain rendez-vous ?</p>
    <button class="btn-primary" (click)="OnService()">Prendre un Rendez-vous</button>
  </div>

  <!-- Section principale -->
  <div class="main-content">
    <!-- Prochains rendez-vous -->
    <div id="card1" class="card">
      <h2><i class="fas fa-calendar-alt" style="color: #65e18a;"></i> Prochain Rendez-vous</h2>
      <p><strong>Formation sur python</strong></p>
      <p><strong></strong> 28 Février 2025 - 15h30</p>
      <button class="btn-secondary" (click)="OnCalendrier()">Voir plus ...</button>
    </div>
  
    <!-- Formations suivies -->
    <div id="card2" class="card">
      <h2><i class="fas fa-graduation-cap" style="color: orangered;"></i> Formations en Cours</h2>
      <p class="lien"><strong ><i class="fas fa-arrow-right" style="color: #74C0FC;"></i> Gestion du temps et productivité</strong> </p>

      <button class="btn-secondary" (click)="OnCalendrierEnCour()">Voir plus ...</button>
    </div>
  
    <!-- Experts recommandés -->
    <div id="card3" class="card">
      <h2><i class="fas fa-user" style="color: #74C0FC;"></i> Experts recommandés</h2>
      <p ><strong>Nom :</strong> Dr. Sophie Martin</p>
      <p><strong>Spécialité :</strong> Psychologie</p>
      <button class="btn-secondary" (click)="ouvrirPopup()">Voir plus ...</button>
    </div>
 


  
    <!-- Historique des paiements -->
    <div id="card4" class="card">
      <h2><i class="fas fa-star" style="color:  #ffcc00;margin-right:7px ;"></i> Mes favoris</h2>
      <p class="lien"><strong><i class="fas fa-arrow-right" style="color: #74C0FC;"></i> Cybersécurité et Systèmes d'informations</strong> </p>
      <button class="btn-secondary" (click)="OnFavoris()">Voir plus ... </button>
    </div>
  </div>
  
     <!-- Intégration du composant pop-up -->
     <app-popup-experts></app-popup-experts>
</section>