<div class="login-container">
    <div class="container">
        <form class="container1">
            <div class="logo">            
                <img src="https://kms-entreprises.com/assets/img/branding/KMS%20logo.jpg" alt="Logo">
                <p>PLANNING</p>
            </div>
            <p>Veuillez remplir le formulaire d'inscription</p>
            
            <!-- Nom -->
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" class="user-name" placeholder="Nom">
            </div>
            
            <!-- Email -->
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" class="email" placeholder="email@gmail.com">
            </div>
            
            <!-- Domaine d'expertise -->
            <div class="input-group">
                <i class="fas fa-chalkboard-teacher"></i>
                <input type="text" class="domaine" placeholder="Domaine d'expertise">
            </div>
            
            <!-- Mot de passe -->
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" class="password" placeholder="Mot de passe">
            </div>
            
            <!-- Confirmer le mot de passe -->
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" class="password" placeholder="Confirmez votre mot de passe">
            </div>
            
            <!-- Termes et conditions -->
            <div class="terms">
                <input type="checkbox" id="terms" name="terms" value="terms">
                <label for="terms">J'accepte <a class="conditions" href="">les termes et conditions d'utilisation</a></label>
            </div>
            
            <button type="button">S'inscrire</button>
        </form>
    </div> 
</div>
